@import "tailwindcss";
/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --font-poppins: Poppins, Sans-serif;

  --primary: #16a34a;
  --secondary: #7ea58d;
  --bg-primary: #ffffff;
  --bg-secondary: #f0fdf4;
  --text: #1c1c1c;
  --sub-text: #6b7280;
  --border: #c8c8c8;
  --card-bg: #EFF6FF;
  --card-secondary: #DBEAFE;
  --card-border: #EFF6FF;
  --card-text: #1C398E;
  --card-sub-text: #3752a4;
  --black: #000000;
  --white: #ffffff;
  --gray: #2F2B45;
  --error: #ef4444;

  --link-color: #2563eb;
  --link-hover-color: #1d4ed8;
}

.dark {
  --primary: #239c6f;
  --secondary: #9acdad;
  --bg-primary: #24262b;
  --bg-secondary: #050d16;
  --text: #f9fafb;
  --sub-text: #9ca3af;
  --border: #374151;
  --card-bg: #2a374a;
  --card-secondary: #3a414a;
  --card-border: #374151;
  --card-text: #d7dae4;
  --card-sub-text: #afb1b9;
  --gray: #050D16;
  --error: #ef4444;

  --link-color: #2563eb;
  --link-hover-color: #1d4ed8;
}

* {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

body {
  background-color: var(--bg-primary);
  color: var(--text);
  font-family: var(--font-poppins);
}
